@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card {
    width: 975px;
    color: #1e1e20;
    background-color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 14px;
    display: flex;
    cursor: pointer;
}

img {
    padding: 10px;
    transition: transform 0.3s;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
}

small {
    font-weight: 600;
    color: #6e6e72;
}

h1 {
    text-wrap: balance;
}

.card:hover img {
    transform: scale(1.02);
}